<!DOCTYPE html>
<html>
    <head>
        <audio src="static/song.mp3" id="Audio"></audio>
    </head>
    <body>
        <center>
            <table border="1" width="300">
                <tr>
                    <td align="center" >Fries</td><td align="center"><img src="static/fries.jpg"width="100" ></td>
                </tr>
                <tr>
                    <td align="center" >Kitkat</td><td align="center"><img src="static/kikat.jpg"width="100" align="center"></td>
                </tr>
                <tr>
                    <td align="center">Song</td><td align="center"><button onclick="MyAudio()">Play Song</button></td>
                </tr>
    
              
    
            </table>
    
        </center>
        <script>
            function MyAudio(){
                document.getElementById("Audio").play();
            }
        </script>
    </body>
</html>
